      /* selector 
        
        {
            property:value;
        }
        
         */
      
      h3 {
          color: red;
          border: 2px solid;
      }
      
      li {
          color: orange;
          background-color: rgb(234, 43, 90);
      }