p {
    font-family: Arial;
    font-size: 2em;
}

/* To effectively use em what web devs do is assign a set value to the font-size for the body so em can be used based on it. */

body {

    font-size: 10px
}

h1 {

    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    line-height: 2;
    text-align: center;
}

h1 {

    /* Font-size using px */

    font-size: 200px;
    text-decoration: underline;
}

span {

    /*Font-size using em -- em means in proportion to the font size of the parent element*/

    font-size: 2em; /* 2 times the size of the parent p element */
}